table {
    text-align: center;
}
thead {
    background-color: #6EA8DD;
}

.background-dark-grey {
    background-color: #666666;
}
.background-light-grey {
    background-color: #B6B6B6;
}

table.table-bordered {
    border:1px solid #9F9F9F !important;
}
