* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
}

svg {
    height: 100px;
    width: 100px;
    margin: 20px;
    color: rgb(0, 0, 128);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 128);
    color: white;
    padding: 15px;
    height: 25%;
}

header h1 {
    margin: 10px;
}

header button {
    padding: 5px;
    margin: 10px;
    color: whitesmoke;
    background-color: rgb(0, 128, 0);
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 35px;
    height: 35%;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 128, 0);
    height: 15%;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 10px;
}