html, body {
  margin:0px;
  height:100%;
    background-image: url("https://raw.githubusercontent.com/perseus01/wallpapers/main/0016.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
    color: white;
}

#content {
    /* position: absolute; */
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;
}

.front-page {
    padding-top: 10%;
    text-align: center;
    text-shadow: 2px 1px 2px #555555;
}

.form-outline {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.form-outline input {
    border: none;
    height: 100%;
    padding: 3px;
}

.search-bar {
    justify-content: center;
    margin-top: 25px;
}

hr.divider {
    border-top: 3px solid #fff;
    width: 40%;
    margin: auto;
}

header {
    width: 100%;
    height: 15%;
}

footer{
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .middle input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .middle input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 0 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}

/*
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 80%;
    background: #1B2945;
}
*/
nav.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
